<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Telaga Mas</title>
    <meta property="og:title" content="Reservasi Hotel Telaga Mas" />
    <meta property="og:description" content="Hotel Telaga Mas " />
    <meta property="og:image" content="{{ url_for('static', filename = 'img/image-hotel/foto-depan-hotel.jpg') }}" />

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/style/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% include 'room/header.html' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 sidebar">
                <h5>OVERVIEW</h5>
                <a href="#amenities">Amenities</a>
                <hr>
                <a href="#room-layout">Room Layout</a>
                <hr>
            </div>
            <div class="col-md-9 room-info">
                <h2>DELUXE ROOM</h2>
                <hr>
                <p>
                    Combining comfort and style, Deluxe Rooms offer guests a tranquil space overlooking either the greenery of the valley or the hotel pool. Complemented by a range of luxurious amenities, all rooms feature contemporary bathrooms with shower, king-sized beds, plush linens, work desk and 50-inch UHD Smart TV, as well as a safety deposit box large enough for a laptop. A baby cot is available on request.
                </p>
                <div id="amenities" class="room-details">
                    <h5>ROOM DETAILS:</h5>
                    <p><strong>Bed Type:</strong> King-size bed (200x200 cm)</p>
                    <p><strong>Bathroom:</strong> Shower</p>
                    <p><strong>Latest Facility:</strong> Complimentary in-room broadband internet</p>
                    <p><strong>Size:</strong> 28-sqm</p>
                    <p><strong>View:</strong> Valley or Pool View</p>
                    <p><strong>Number of Rooms:</strong> 28</p>
                    <p><strong>Max. Occupancy:</strong> 2A (Adults) or 1A (Adult) + 1C (Child)</p>
                    <p>*The 1st floor is top level while the 8th floor is the hotel's ground floor.<br>*This is a non-smoking room.</p>
                </div>
            </div>
            <div class="room-photos" id="room-layout">
                <h3>Room Photos</h3>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/img/room/deluxe-room1.jpg" class="card-img-top" alt="Room Photo 1">
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/img/room/deluxe-room2.jpg" class="card-img-top" alt="Room Photo 2">
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/img/room/deluxe-room3.jpg" class="card-img-top" alt="Room Photo 3">
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/img/room/deluxe-room4.jpg" class="card-img-top" alt="Room Photo 4">
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/img/room/deluxe-room5.jpg" class="card-img-top" alt="Room Photo 5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
