<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Admin | Hotel Telaga Mas</title>
    <meta property="og:title" content="Login Hotel Telaga Mas" />
    <meta property="og:description" content="Hotel Telaga Mas " />
    <meta property="og:image" content="{{ url_for('static', filename = 'img/image-hotel/foto-depan-hotel.jpg') }}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .container {
            width: 50%;
            margin: 0 25%;
        }

        .required-field::after {
            content: " *";
            color: red;
        }

        .help.is-danger {
            display: none;
        }

        .spinner-border {
            display: none;
            width: 3rem;
            height: 3rem;
            margin: auto;
        }

        .compact {
            margin: 0px;
            padding: 0px;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <section class="container">
        <header class="title">Login Administrator</header>
        <form id="login-form" class="form" action="/admin/login" method="POST">
            <div class="field">
                <label class="label required-field">Alamat Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="Masukkan alamat email" />
                </div>
                <p class="help is-danger">Alamat Email yang valid wajib diisi</p>
            </div>

            <div class="field">
                <label class="label required-field">Kata Sandi</label>
                <div class="control">
                    <input class="input" type="password" name="password" id="password" placeholder="Masukkan kata sandi" />
                </div>
                <p class="help is-danger">Kata Sandi wajib diisi</p>
            </div>
            
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" id="togglePassword"> Tampilkan Kata Sandi
                    </label>
                </div>
            </div>

            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Login</button>
                </div>
            </div>
            <div class="field">
                <p>Belum punya akun? <a href="{{ url_for('admin_register') }}">Daftar di sini</a></p>
            </div>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#togglePassword').on('change', function () {
                const passwordField = $('#password');
                const type = $(this).is(':checked') ? 'text' : 'password';
                passwordField.attr('type', type);
            });

            $('#login-form').on('submit', function (event) {
                event.preventDefault();
                let isValid = true;

                $('input').each(function () {
                    let $input = $(this);
                    let $helpText = $input.closest('.field').find('.help.is-danger');

                    if ($input.val().trim() === '') {
                        $helpText.show();
                        isValid = false;
                    } else {
                        $helpText.hide();
                    }
                });

                if (isValid) {
                    $('.spinner-border').show(); // Show the spinner
                    $('.button.is-primary').prop('disabled', true); // Disable the submit button

                    let email = $('#login-form input[name="email"]').val();
                    let password = $('#login-form input[name="password"]').val();

                    $.ajax({
                        type: 'POST',
                        url: '/admin/sign_in',
                        data: {
                            email: email,
                            password: password
                        },
                        success: function (response) {
                            if (response.result === 'success') {
                                window.location.href = '/admin/dashboard';
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.msg,
                                });
                                $('.spinner-border').hide(); // Hide the spinner
                                $('.button.is-primary').prop('disabled', false); // Enable the submit button
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert('Error: ' + textStatus);
                            $('.spinner-border').hide(); // Hide the spinner
                            $('.button.is-primary').prop('disabled', false); // Enable the submit button
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>
