<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Telaga Mas</title>
    <meta property="og:title" content="Reservasi Hotel Telaga Mas" />
    <meta property="og:description" content="Hotel Telaga Mas " />
    <meta property="og:image" content="{{ url_for('static', filename = 'img/image-hotel/foto-depan-hotel.jpg') }}" />

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/style/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    {% include 'gallery/header.html' %}
    <div class="container text-center my-5">
        <h1 class="mb-2">GALLERY</h1>
        <hr class="orange-line">
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../static/img/hotel-img/foto-hotel.jpg" class="img-fluid gallery-img" alt="Gallery Image 1">
            </div>
        </div>
    </div>
    {% include 'footer/footer.html' %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
