/* home style */
body {
font-family: Arial, sans-serif;
}

.navbar-brand {
font-weight: bold;
}
.navbar-nav .nav-item .nav-link.active {
color: #FFD700;
}

.carousel-item img {
width: 100%;
height: 50vh;
object-fit: cover;
}

.carousel-inner {
width: 100%;
}

.carousel-item {
width: 100%;
}
/* rooms style */
.room-details {
margin-top: 30px;
}

.sidebar {
border-right: 1px solid #ddd;
padding-right: 20px;
}

.sidebar h5 {
font-size: 1.25rem;
margin-bottom: 20px;
}

.sidebar a {
display: block;
color: #000;
margin-bottom: 10px;
cursor: pointer;
}

.room-info h2 {
margin-top: 30px;
margin-bottom: 20px;
}

.room-info hr {
border-top: 3px solid #FFD700;
width: 50px;
margin-top: 0;
}

.room-photos {
margin-top: 50px;
}

.room-photos h3 {
margin-bottom: 20px;
}

.room-photo-card {
margin-bottom: 20px;
}

.nav-item:hover .dropdown-menu {
display: block;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: #fff;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-menu a {
color: #000;
}

/* gallery */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .orange-line {
    border: none;
    height: 2px;
    background-color: #fd7e14;
    width: 80px;
    margin: 0 auto 20px;
  }
  
  .gallery-img {
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }

  /* facilities */
  .card {
    border: none;
    background-color: #f8f9fa;
  }
  
  .card-title {
    color: #fd7e14;
    font-size: 1.25rem;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  
  .orange-line {
    border: none;
    height: 2px;
    background-color: #fd7e14;
    width: 250px;
    margin: 0 auto 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }


  /* review-card */
  .review-card {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    position: relative;
}
.review-card img {
    border-radius: 5px;
}
.review-card .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-card .review-header .user-info {
    display: flex;
    align-items: center;
}
.review-card .review-header img {
    border-radius: 50%;
    margin-right: 10px;
}
.review-card .review-header .name {
    font-weight: bold;
}
.review-card .review-header .date {
    color: #aaa;
    font-size: 0.9rem;
    text-align: right;
}
.review-card .rating {
    background-color: #eaf5ff;
    color: #007bff;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}
.review-card .review-content {
    margin-top: 10px;
}
  /* login */
  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/* register */
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

.card {
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.05);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
  opacity: 0; 
  animation: fadeIn 2s forwards; 
}

.sec p {
  font-size: 1em;
  color: #fff;
  opacity: 0; 
  transform: translateX(50px); 
  animation: fadeInRight 2s forwards 1s;
}


@keyframes fadeIn {
  to {
      opacity: 1;
  }
}


@keyframes fadeInRight {
  to {
      opacity: 1; 
      transform: translateX(0); 
  }
}

.navbar-nav .nav-item {
  margin: 0 10px; 
}

.navbar-nav .nav-link {
  position: relative;
  display: block;
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #454545;
  transition: .5s;
}

.navbar-nav .nav-link::before,
.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #454545;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .5s;
}

.navbar-nav .nav-link::before {
  top: 0;
  left: 0;
  transform-origin: right;
}

.navbar-nav .nav-link::after {
  bottom: 0;
  right: 0;
  transform-origin: left;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}

.navbar-nav .nav-link:hover::before {
  transform-origin: left;
}

.navbar-nav .nav-link:hover::after {
  transform-origin: right;
}

.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
