.navbar-nav .nav-item .nav-link.active {
    color: #FFD700;
}

.carousel-item img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.carousel-inner {
    width: 100%; 
}

.carousel-item {
    width: 100%;
}
